.base {
  width: 0;
  height: 0;
  border: none;
  background: none;

  &::before {
    content: attr(data-cardinality);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
  }
}

.left {
  &::before {
    left: calc(50% - 0.75rem)
  }
}

.right {
  &::before {
    left: calc(50% + 0.75rem)
  }
}