.field-container {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.field {
  display: flex;
  gap: 1rem;
  padding: 0.1rem 1rem;
  width: 100%;
  align-items: center;
  background: none;
  border: 1px solid transparent;
  transition: all 0.2s;

  cursor: inherit;

  &:hover {
    border-color: var(--xy-node-border-default);

  }

  justify-content: space-between;
}


.field-name {
  word-wrap: normal;
  word-break: keep-all;
  white-space: nowrap;
}

.nowrap {
  word-wrap: normal;
  word-break: keep-all;
  white-space: nowrap;
}

.label {
  flex-shrink: 0;
}

.field-name-pk {
  font-weight: 500;

}

.note {
  position: absolute;
  border: 1px solid;
  border-color: var(--xy-node-border-default);
  background: var(--xy-node-background-color-default);
  color: var(--xy-node-color-default);
  width: max-content;
  padding: 1rem;
  z-index: 10;
}

.properties {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.data-type {
  font-size: smaller;
}

.details {
  position: absolute;
  top: 0;
  left: calc(100% + 0.25rem);
  border: 1px solid white;
  background-color: var(--xy-node-background-color-default);
  font-size: smaller;

}

.details-field-name {
  padding-inline: 1rem;
  z-index: 99;
  border-bottom: 1px solid white;
}

.details-content {
  padding: 0.5rem;
  display: block;
  width: max-content;
}

.enum-list {
  margin: 0;
  padding-left: 1rem;
  width: max-content;

  li {
    list-style-type: none;
    margin: 0;
  }
}

.icon {
  vertical-align: middle;
  margin-left: 0.25rem;
}