.table {
  border: 1px solid white;
  border-color: var(--xy-node-border-default);
  background-color: var(--xy-node-background-color-default);
  color: var(--xy-node-color-default);
  padding-bottom: 0.5rem;
}

.header {
  text-align: center;
  border-bottom: 2px solid;
  border-color: var(--xy-node-border-default);
  padding-inline: 1rem;
  padding-block: 0.5rem;
}