.container {
  height: 100%;
  width: 100%;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: var(--xy-node-color-default);
  font-family: monospace;
  white-space: pre-wrap;
  overflow: auto;
}

.edge {
  path {
    stroke: var(--xy-edge-stroke-default);
    // stroke: green;
  }
}

.edge-animated {
  path {
    stroke: var(--xy-edge-stroke-selected-default);
    stroke-width: 2px;
    z-index: 99;
  }
}